*{
    margin: 0;
    padding: 0;
}

.sign-up-content{
    width: 1240px;
    height: 409.047px;
    padding: 100px 100px 100px 100px;
    /* background-color: lavender; */

    display: flex;
    justify-content: center;
   
}

.content-area{
    width: 800px;
    height: 409.047px;
    margin-left: 220px;
    margin-right: 220px;
    /* background-color: rgb(214, 221, 204); */
}

.auth-undefined-sign-up{
    width: 734px;
    height: 348.898px;
    padding: 16px 32px 32px 32px;
    border: 1px solid rgb(225,225,225);
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.auth-message{
    width: 774px;
    height: 39.797px;
    padding: 12px 12px 12px 12px;
    border: 1px solid rgb(225,225,225);
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;

}
.auth-main-sign-up{
    width: 354.906px;
    height: 294.25px;
    
    /* background-color: beige; */

}
.auth-main-sign-up h3{
    top:18.72px;
    bottom: 18.72px;
    width: 354.906px;
    height: 21.523px;
    line-height: 18.72px;
    font-size: 18.72px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(26,26,26);
    text-align: left;
}
.input-group{
    width: 354.906px;
    height: 73.047px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.auth-wrapper{
    width: 354.906px;
    height: 216.891px;
    /* background-color: blanchedalmond; */
}

.label-input{
    width: 330.906px;
    height: 13.797px;
    padding: 10px 12px 10px 12px;
    color: rgb(105, 104, 104);
    text-align: left;
    font-size: 12px;
}
.input-form{
    width: 320.906px;
    height: 17.25px;
    padding: 10px 16px 10px 16px;
    /* border: 1px solid rgb(197,197,197); */

}
.auth-field-action{
    width: 354.906px;
    height: 52.398px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.auth-field-action a{
    width: 88.9px;
    height: 52.398px;
    cursor: pointer;
    color: rgb(16,16,16);
    text-decoration: underline;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    

}
.auth-button{
    width: 64.227px;
    height: 18.398px;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgb(16,16,16);
    background-color: rgb(16,16,16);
    color: rgb(255,255,255);
    box-sizing: content-box;
    line-height: 18.398px;
    text-align: center;

}
.auth-divider{
    width: 36.492px;
    height: 294.25px;
    margin-left: 48px;
    margin-right: 48px;
    /* background-color: rgb(212, 237, 237); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}
.auth-divider h6 {
    width: 12.492px;
    height: 12.32px;
    padding: 12px 12px 12px 12px;
    margin-top: 24.978px;
    margin-bottom: 24.978px;
    color: rgb(26, 26, 26); /* Optional styling */
    font-size: 10.72px;
    z-index: 1;
    background-color: rgb(255,255,255);
}
.auth-divider::before{
    content: "";
    background-color: rgb(225, 225, 225);

    font-family : Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 88.2734px;
    line-height :18.4px;
    position: absolute;
    text-size-adjust: 100%;
    top :73.5625px;
    width: 1px;
    bottom:132.414px;
    left:17.742px;
    right:17.75px;

}
.auth-divider::after{
    content: "";
    background-color: rgb(225, 225, 225);
    font-family : Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 88.2734px;
    line-height :18.4px;
    position: absolute;
    text-size-adjust: 100%;
    bottom :73.5625px;
    width: 1px;
    top:132.414px;
    left:17.742px;
    right:17.75px;

}
.auth-provider{
    width: 246.602px;
    height: 294.25px;
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.action-facebook{
    width: 14px;
    height: 48.094px;
    left: 16px !important;
    right: 214.602px !important;
    position: absolute;

}
.action-google{
    width: 14px;
    height: 48.094px;
    left: 16px !important;
    right: 214.602px !important;
    position: absolute;

}
.action-github{
    width: 14px;
    height: 48.094px;
    left: 16px !important;
    right: 214.602px !important;
    position: absolute;

}
.provider-button-facebook{
    width: 212.602px;
    height: 16.094px;
    margin-bottom: 12px;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgb(255,255,255);
    background-color: rgb(0,120,255);
    line-height: 16.094px;
    cursor: pointer;
    color: rgb(255,255,255);
    box-sizing: content-box;
}
.provider-button-google{
    width: 212.602px;
    height: 16.094px;
    margin-bottom: 12px;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgb(225,225,225);
    background-color: rgb(255,255,255);
    line-height: 16.094px;
    cursor: pointer;
    color: rgb(26,26,26);

    box-sizing: content-box;
}
.provider-button-github{
    width: 212.602px;
    height: 16.094px;
    margin-bottom: 12px;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgb(255,255,255);
    background-color: rgb(26,26,26);
    line-height: 16.094px;
    cursor: pointer;
    color: rgb(255,255,255);
    box-sizing: content-box;
    font-size: 14px;
}


.auth-info{
    width: 126.711px;
    height: 13.797px;
    margin-right: 32px;
    color: rgb(74,74,74);
    line-height: 13.8px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.auth-sign-up-button{
    width: 38.641px;
    height: 13.797px;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgb(255,255,255);
    box-sizing: content-box;
    font-size: 10px;



}