*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.featureContainer{
    width: 1200px;
    height: 1510px;
    padding: 100px 100px 100px 100px;
    text-decoration: none;

}
.banner{
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 243, 243);

}
.topL{
    width: 500px;
    height: 300px;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topL h1{
    width: 400px;
    height: 76.797px;
    margin-top: 32.16px;
    margin-bottom: 10px;
    font-size:  48px;
    /* position: relative; */
    font-weight: 700;
}
.topR{
    width: 600px;
    height: 400px;

}
.topR img{
    width: 600px;
    height: 400px;
    background-size: 100%;
    object-fit: cover;
}

.bottom{
    width: 1100px;
    height: 940px;
    margin: 100px 50px 50px 50px;

}
.eachGlass{
    width: 315.336px;
    height: 298px;
    display: grid;
    grid-template-columns: 353.328px 353.336px 353.336px;
    column-gap: 20px;
    row-gap: 20px;

}
.feature-item {
    width: 351.328px;
    height: 298px !important;
    border: 1px solid rgba(225,225,225);

}
.glass-img{
    width: 351.328px;
    height: 200px;
    background-color: #F6F6F6;
    object-fit: contain;
}
.content{
    width: 351.328px;
    height: 78.398px;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}
.glass-brand2{
    height: 27.594px;
    width: 351.328px;

    text-align: left;
    display: block;
    color: black;
    text-decoration: none !important;
    display: block;

}
.glass-desc{
    width: 311.328px;
    height: 24px;
    text-align: left;
    margin-bottom: 16px;
    color: rgb(129, 129, 129);
    text-decoration: none;


}
/* .eachGlass h2{
    height: 38.398px;
    width: 311.386px;
    text-align: left;
}
.eachGlass p{
    width: 311.328px;
    height: 24px;
    text-align: left;
    margin-bottom: 16px;

} */